ul li.checked {
    background: #888888;
    color: #ffffff;
    text-decoration: line-through;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

#deletAll {
    position: absolute;
    right: 5px;
    top: 10px;
}

.dark {
    background-color: #000000;
    color: #393e46;
}